.login2-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    height: 100vh;
}

.login2-container{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-items: center;
    row-gap: 100px;
    align-items: center;
    margin-top: 80px;
}

.login2-content{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.login2-container :hover{
    color: white;
    background-color: black;
    border-radius: 15px;
}